<!doctype html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <title>Matérias Matriculadas</title>
    </head>
    <body>
        <h1>Matérias Matriculadas</h1>
        {% if materias %}
        <ul>
            {% for materia in materias %}
            <li>
                <a href="{% url 'notas:detail' materia.id %}">{{ materia }}</a>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <p>Não há matérias matriculadas</p>
        {% endif %}
    </body>
</html>
